body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
}

h1 {
  margin: 0;
}

header label {
  margin-left: auto;
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}

header input[type="range"] {
  width: 12em;
  flex: none;
}

.time-display {
  position: relative;
  display: inline-block;
  width: 6em;
  height: 1.5em;
  text-align: left;
  font-variant-numeric: tabular-nums;
}

.time-display > time,
.time-display > em {
  position: absolute;
  left: 0;
  top: 0;
}

header em {
  color: #999;
  font-style: italic;
}